body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/*Title Styling*/

h1 {
    font-family: 'Cinzel', serif;
    padding: 2rem;
    border: dashed;
    border-color: darkgreen;
    font-size: 3rem;
    width: auto;
}

/*Main body styling*/

#braintraining {
    font-size: 2rem;
}

#result {
    margin-top: 1.2rem;
}

/*Button Styling*/

#instructionsbutton {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    background-color: darkgreen;
}

/*Grid Styling*/

.grid {
    display:contents;
    flex-wrap: wrap;
    height: 300px;
    width: auto ;
    box-sizing: border-box;
}
/*Footer*/

#footer{
    margin: 1.5rem;
}
.footer-container {
    font-size: 200%;
    color: black;
    margin-top: 1rem;
    margin: 0;
    
}
/*Media queries*/

@media screen and (max-width: 280px) {
    h1 {
         font-size: 2rem;
         padding: 1rem;
        }
    }

    @media screen and (max-width: 280px) {
        #braintraining {
             font-size: 1.5rem;
            }
        }
    @media screen and (max-width: 240px) {
            #footer-container {
                 font-size: 2rem;
                 padding: 0rem;
                }
            }