body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/*Title Styling*/

h1 {
    font-family: 'Cinzel', serif;
    padding: 2rem;
    border: dashed;
    border-color: darkgreen;
    font-size: 3rem;
}

/*Grid Styling*/

.grid {
    display:contents;
    flex-wrap: wrap;
    height: 300px;
    width: 400px ;
    box-sizing: border-box;
}
